.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.left,
.right {
  display:block;
}

.left {
  float: left;
}

.right {
  text-align: right;
  float: right;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
/* Stellt sicher, dass der Fokus auf allen interaktiven Elementen gut sichtbar ist */
a:focus,
input:focus,
button:focus,
mat-icon-button:focus {
  outline: 3px solid #005fcc; /* Farbe und Breite des Fokusrahmens anpassen */
  outline-offset: 2px; /* Abstand des Rahmens zum Element anpassen */
}


