.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.left,
.right {
  display:block;
}

.left {
  float: left;
}

.right {
  text-align: right;
  float: right;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}
/* Stellt sicher, dass der Fokus auf allen interaktiven Elementen gut sichtbar ist */
a:focus,
input:focus,
button:focus,
mat-icon-button:focus {
  outline: 3px solid #005fcc; /* Farbe und Breite des Fokusrahmens anpassen */
  outline-offset: 2px; /* Abstand des Rahmens zum Element anpassen */
}

.logout-button:focus,
.logout-button:hover {
  background-color:#f8f9fa; /* Hintergrundfarbe beim Fokus */
  color: #3f52b5;
}


.skip-link {
  position: absolute;
  top: -40px; /* Versteckt den Link außerhalb des sichtbaren Bereichs */
  left: 0;
  background: #005fcc;
  color: #fff;
  padding: 8px;
  z-index: 100;
  transition: top 0.3s ease;
}

.skip-link:focus {
  top: 0; /* Bringt den Link in den sichtbaren Bereich */
}


