main {
  background-color: rgba(99, 192, 235, 0.729);
}

/* zeigt Überschrift für Formular an */
legend {
  font-weight: bold;
}
/* Fokusring für Input-Felder */
input:focus {
  outline: 3px solid #005fcc; /* Farbe und Breite des Fokusrahmens anpassen */

}

/* Fokusring für Buttons */
button:focus {
  outline: 3px solid #005fcc; /* Farbe und Breite des Fokusrahmens anpassen */

}
