/** CSS-Eigenschaften für die Home-Komponente **/
main {
  background: url('../../assets/hintergrund1.jpg') no-repeat center center fixed;
  background-size: cover;
}

section p{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;

}

/* RWD */
@media screen and (max-width: 767px) {
  header{
    font-size: 21px;
  }

  section p{
    font-size: 18px;
  }
}

/* Stellt sicher, dass der Fokus auf allen interaktiven Elementen gut sichtbar ist */
a:focus,
button:focus,
input:focus {
  outline: 3px solid #005fcc; /* Farbe und Breite des Fokusrahmens anpassen */
  outline-offset: 2px; /* Abstand des Rahmens zum Element anpassen */
}

