.full-width {
  width: 100%;
}

section {
  min-width: 120px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin: 3% auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
header, footer {
  text-align: left;
  margin-bottom: 1rem;
}

article {
  margin: 1rem 0;
}
