<section *ngIf="!deleted" class="container-fluid mt-0 bg-light p-3 shadow" id="mytasklist-content"> <!-- "container" deutet darauf, dass der Code das Raster-System des Bootstrap-Frameworks für responsives Layout verwendt -->

  <header>
    <h2 class="m-3">Alle ToDos</h2>
  </header>

  <div class="d-flex justify-content-center my-3">
    <button id="startseite-button-id" type="button" class="btn btn-lg btn-outline-primary btn-block w-50 text-center" (click)="ClickEvent()">Neue ToDo erstellen</button>
  </div>
  <div class="table-responsive mx-3"> <!-- RWD eingebaut -->
    <table class="table table-bordered table-striped table-hover text-left"> <!-- text-left macht es linksbündig -->
      <caption>Liste aller ToDos</caption>
      <thead>
        <tr>
          <th scope="col" class="col-1">Nr.</th> <!-- scope sagt aus, dass es sich um Spaltenüberschrift handelt -->
          <th scope="col" class="col-3">Aufgabe</th>
          <th scope="col" class="col-4">Beschreibung</th>
          <th scope="col" class="col-2">Fälligkeitsdatum</th>
          <th scope="col" class="col-1">Optionen</th>
          <th scope="col" class="col-1">Erledigt?</th>
        </tr>
      </thead>
      <tbody>
        <!-- Array (todos) wird in der hier ausgelesen -->
        <!-- Wir verwenden dazu wieder die *ngFor-Direktive -->
        <tr *ngFor="let todo of todos; let i=index;">
          <td>{{ i+1 }}</td>
          <td>{{ todo.aufgabe }}</td>
          <td>{{ todo.beschreibung }}</td>
          <td>{{ todo.frist }}</td>
          <td>
            <a id="edit-{{i}}" [routerLink]="['/todo', todo._id]">
              <span tabindex="0" class="bi bi-pencil-square px-2 text-primary"></span>
            </a> <!-- text-primary ist blaue Farbe -->
            <span tabindex="0" (click)="delete(todo._id)" class="bi bi-trash px-2 text-danger"></span> <!-- text-danger ist rote Farbe -->
          </td>
          <td class="box">
            <input id="todo-checkbox-{{i}}"  type="checkbox" (click)="erledigt(todo)" [checked]="todo.erledigt"> <!-- bindet den checked Wert an todo.erledigt, wenn true, wird die Checkbox angeklickt -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section *ngIf="deleted" class="container mt-3 bg-light p-3 shadow">
  <header>
    <h3>Datensatz wurde gelöscht!</h3>
  </header>

  <div>
  <button id="back-to-table-button" type="button" class="btn btn-secondary" (click)="reload(false)">Zurück zur Tabelle</button>
  </div>
</section>

<!-- Z.27: definieren wir einen Routerlink unter Verwendung der _id von todo. Es entsteht der Aufruf der Route /todo/:id, wobei für die :id die entsprechende _id von todo eingesetzt wird -->
<!-- Z.28: Trash icon wird an Click-Ereignis angemeldet, sobald es angeklickt wird, wird die Methode delete(todo._id) aufgerufen -->
