@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

header {
  text-align: center; /* Zentriert den Text innerhalb des Headers */
}
/* für die icons */

table {
  font-size: 18px;
}

th, td {
  padding: 10px;
}

.box {
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
caption {
  caption-side: top; /* Sicherstellen, dass die Caption oben angezeigt wird */
}
