@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

header {
  text-align: center; /* Zentriert den Text innerhalb des Headers */
}
/* für die icons */

table {
  font-size: 18px;
}

th, td {
  padding: 10px;
}

.box {
  align-items: center;
  justify-content: center;
}

caption {
  caption-side: top; /* Sicherstellen, dass die Caption oben angezeigt wird */
}

/*Fokus-Stil für Tabellenzellen */
td:focus,
th:focus,
button:focus {
  outline: 3px solid #005fcc; /* Farbe des Fokusrands */
  outline-offset: 2px; /* Abstand des Randes vom Element */
}

td[aria-labelledby="header-optionen"] .bi-pencil-square,
td[aria-labelledby="header-optionen"] .bi-trash {
  font-size: 24px; /* Größe der Icons */
  width: 24px;
  height: 24px;
  cursor: pointer; /* Zeigt an, dass es klickbar ist */
  display: inline-flex; /* Inline-Flex für bessere Kontrolle */
  align-items: center; /* Zentriert das Icon vertikal */
  justify-content: center; /* Zentriert das Icon horizontal */
  margin-right: 5px;
  margin-left: 5px;
  outline-offset: 2px;
}

/* Checkbox-Größe anpassen */
td.box input[type="checkbox"] {
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin-left: 20px;
  outline-offset: 2px;
}
