@import url('../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

header {
  text-align: center; /* Zentriert den Text innerhalb des Headers */
}
/* für die icons */

table {
  font-size: 18px;
}

th, td {
  padding: 10px;
}

.box {
  align-items: center;
  justify-content: center;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
}
caption {
  caption-side: top; /* Sicherstellen, dass die Caption oben angezeigt wird */
}
/* Fokus-Stil für Buttons */
button:focus {
  outline: 3px solid #005fcc; /* Farbe des Fokusrands */
  outline-offset: 2px; /* Abstand des Randes vom Element */
}

/* Fokus-Stil für Links (Bearbeiten-Symbol) */
a:focus {
  outline: 3px solid #005fcc; /* Farbe des Fokusrands */
  outline-offset: 2px; /* Abstand des Randes vom Element */
}

/* Fokus-Stil für Löschen-Symbol */
.button:focus {
  outline: 3px solid #005fcc; /* Farbe des Fokusrands */
  outline-offset: 2px; /* Abstand des Randes vom Element */
}

/* Fokus-Stil für Checkboxen */
input[type="checkbox"]:focus {
  outline: 3px solid #005fcc; /* Farbe des Fokusrands */
  outline-offset: 2px; /* Abstand des Randes vom Element */
}

/* Optional: Fokus-Stil für Tabellenzellen */
td:focus,
th:focus {
  outline: 3px solid #005fcc; /* Farbe des Fokusrands */
  outline-offset: 2px; /* Abstand des Randes vom Element */
}

/* Fokus-Stil für Löschen-Symbol */
.bi-trash:focus {
  outline: 3px solid #005fcc; /* Farbe des Fokusrands */
  outline-offset: 2px; /* Abstand des Randes vom Element */
}
